// font url

$font-url: 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet';

@font-face {
    font-family: 'Thunder';
    src: url('../fonts/Thunder-BoldLC.eot');
    src: url('../fonts/Thunder-BoldLC.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Thunder-BoldLC.woff') format('woff'),
    url('../fonts/Thunder-BoldLC.woff2') format('woff2'),
    url('../fonts/Thunder-BoldLC.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ThunderMed';
    src: url('../fonts/Thunder-MediumLC.eot');
    src: url('../fonts/Thunder-MediumLC.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Thunder-MediumLC.woff') format('woff'),
    url('../fonts/Thunder-MediumLC.woff2') format('woff2'),
    url('../fonts/Thunder-MediumLC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Morganite-Bold';
    src: url('../fonts/Morganite-ExtraBold.woff2') format('woff2'),
    url('../fonts/Morganite-ExtraBold.woff') format('woff'),
    url('../fonts/Morganite-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}
// font family
$font-family: (
    'ff': (
        'body': "'Poppins', sans-serif",
        'thunder': "'Thunder', sans-serif",
        'thundermed': "'ThunderMed', sans-serif",
        'morganite-bold': "'Morganite-Bold', sans-serif",
        'fontawesome': '"Font Awesome 6 Pro"',
    )
);

// font size
$font-size: (
    'fz': (
        'body': 14px,
        'p': 16px,
    )
);
